.banner {
  display: flex;
  justify-content: center;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 759px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
